@import "styles/_shared.scss";

.Button {
    @include micro-transition(background-color);

    border-radius: $border-radius-rounded;
    background-color: $color-primary;
    box-shadow: 0px 0px 4px 1px transparentize($color-primary-dark, 0.5);
    color: $color-white;
    font-size: $font-size-500;
    font-weight: $font-weight-bold;
    padding: $size-300 $size-800;

    &:hover,
    &:focus {
        background-color: $color-primary-dark;
    }
}
