@import "styles/_shared.scss";

.GameResults {
    padding: $size-400;
    padding-top: 4vh;
    width: 100%;

    .Spacer {
        height: 200px;
    }

    .GameResultsSummary {
        background-color: $color-white;
        border-radius: $border-radius-large;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.3);
        display: grid;
        flex-direction: column;
        gap: $size-400;
        justify-items: center;
        margin: 0 auto;
        max-width: 450px;
        padding: $size-400;

        @include media-query-medium {
            padding: $size-500;
        }

        .GameResultsUsernameContainer {
            align-items: center;
            display: flex;
            margin-bottom: $size-400;

            .GameResultsUsername {
                color: $color-text-secondary;
                font-size: $font-size-600;
            }

            .GameResultsEditButton {
                background-color: transparent;
                padding: $size-100;

                .GameResultsEditIcon {
                    @include svg-icon-color($color-primary-outline);

                    height: 20px;
                    width: 20px;
                }
            }
        }

        .GameResultsScore {
            color: $color-neutral-900;
            font-size: $font-size-900;
            font-weight: $font-weight-bold;
        }

        .GameResultsRank {
            color: $color-primary;
            font-size: $font-size-700;
            font-weight: $font-weight-bold;
        }

        .GameResultsButtonContainer {
            display: flex;
            justify-content: center;
            margin-top: $size-500;
        }
    }

    .GameResultsMemes {
        display: grid;
        gap: $size-400;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        height: 100%;
        justify-content: center;
        margin-top: $size-700;
        width: 100%;

        @include media-query-large {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
    }
}

$meme-card-info-height: 40px;

.MemeResultCard {
    background-size: 100% 100%;
    border-radius: $border-radius-large;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);

    &:before {
        // Force the images to maintain a certain aspect ratio, in this case 16:9.
        // Taken from: https://stackoverflow.com/a/51578598.
        content: "";
        display: block;
        height: 0;
        padding-bottom: calc(9 / 16 * 100% - #{$meme-card-info-height});
        width: 0;
    }

    .MemeResultsCardInfoContainer {
        align-items: center;
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        justify-items: center;
        height: $meme-card-info-height;
        padding: 0 $size-100;

        .MemeResultCardCorrectIcon {
            @include svg-icon-color($color-positive-500);
        }

        .MemeResultCardIncorrectIcon {
            @include svg-icon-color($color-negative-500);
        }

        .MemeResultCardUsername {
            color: $color-white;
            font-weight: $font-weight-bold;
        }

        .MemeResultCardLinkIcon {
            @include svg-icon-color($color-primary);
        }
    }
}
