@import "styles/_shared.scss";

.MemeCardContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    touch-action: none;
    will-change: transform;

    // The height and width of the container determines the card's absolute positioning
    // within the viewport. Here, these values are adjusted so that the cards land
    // center (horizontally) and evenly spaced in the center of the app's title and nav.
    height: 70vh;
    width: 100%;

    z-index: 1;

    &:first-child {
        // The last card (which is at the bottom of stack with index = 0 and that is
        // the "first" child) looks better when it has a more defined shadow than the other
        // cards.
        .MemeCard {
            box-shadow: 0 12.5px 40px -10px rgba(50, 50, 73, 0.8),
                0 10px 10px -10px rgba(50, 50, 73, 0.7);
        }
    }

    .MemeCard {
        background-color: white;
        background-size: auto 85%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 12.5px 40px -10px rgba(50, 50, 73, 0.3),
            0 10px 10px -10px rgba(50, 50, 73, 0.2);
        border-radius: 10px;
        height: 50vh;
        max-height: 200px;
        max-width: 300px;
        width: 100vw;
        will-change: transform;

        @include media-query-medium {
            max-height: 300px;
            max-width: 450px;
        }

        @include media-query-large {
            max-height: 400px;
            max-width: 600px;
        }
    }
}
