.MemeCardContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    touch-action: none;
    will-change: transform;

    // The height and width of the container determines the card's absolute positioning
    // within the viewport. Here, these values are adjusted so that the cards land
    // center (horizontally) and evenly spaced in the center of the app's title and nav.
    height: 70vh;
    width: 76vw;

    z-index: 100000;

    .MemeCard {
        background-color: white;
        background-size: auto 85%;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 12.5px 40px -10px rgba(50, 50, 73, 0.4),
            0 10px 10px -10px rgba(50, 50, 73, 0.3);
        border-radius: 10px;
        height: 50vh;
        max-width: 600px;
        max-height: 400px;
        width: 80vh;
        will-change: transform;
    }
}
