// This file is all of the global styles that wouldn't be apart of the reset,
// but are specific to this app.

@import "styles/_reset.scss";
@import "styles/_shared.scss";

body {
    color: $color-text-primary;
}

html,
body,
#root {
    background-color: $color-primary;
    height: 100%;
    width: 100%;
}

body {
    padding: $size-400 0;
}

button {
    font-size: $font-size-300;
}
