// This file is all of the global styles that wouldn't be apart of the reset,
// but are specific to this app.

@import "styles/_reset.scss";
@import "styles/_shared.scss";

html,
body,
#root,
#__next {
    background-color: $color-primary;
    height: 100%;
    width: 100%;
}

body {
    color: $color-text-primary;
    padding: $size-400 0;

    &.game-mode {
        overflow: hidden;
    }
}

button {
    font-size: $font-size-300;
}
