@import "styles/_shared.scss";

@mixin card-height() {
    height: 50vh;
    max-height: 200px;

    @include media-query-medium {
        max-height: 300px;
    }

    @include media-query-large {
        max-height: 400px;
    }
}

@mixin card-width() {
    max-width: 300px;
    width: 100vw;

    @include media-query-medium {
        max-width: 450px;
    }

    @include media-query-large {
        max-width: 600px;
    }
}

.Game {
    display: flex;
    height: 100%;
    width: 100%;

    .GameWrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 15vh;
        width: 100%;

        .GameButtonDank,
        .GameButtonNotDank {
            background-color: transparent;
            color: $color-text-secondary-light;
            font-size: $font-size-500;
            font-style: italic;
        }

        .GameButtonDank {
            margin-bottom: $size-700;
        }

        .GameButtonNotDank {
            margin-top: $size-800;
        }

        .GameScoreContainer {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: $size-800;

            .GameScore {
                color: $color-white;
                font-size: $font-size-800;
                font-weight: bold;
            }
        }

        .GameTimerContainer {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: $size-600;
            position: relative;

            .GameTimerTicker {
                background-color: $color-white;
                height: $size-100;
                position: absolute;
                transform: scaleX(0.5);
                width: 200px;
                z-index: 1;
            }

            .GameTimerBackground {
                background-color: $color-future-400;
                height: $size-100;
                position: absolute;
                width: 200px;
            }
        }
    }
}

.MemeCardsStack {
    @include card-height();

    width: 100%;

    .MemeCardContainer {
        @include card-height();

        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        touch-action: none;
        will-change: transform;
        width: 100%;
        z-index: 2;

        &:first-child {
            // The last card (which is at the bottom of stack with index = 0 and that is
            // the "first" child) looks better when it has a more defined shadow than the
            // other cards.
            .MemeCard {
                box-shadow: 0 12.5px 40px -10px rgba(50, 50, 73, 0.8),
                    0 10px 10px -10px rgba(50, 50, 73, 0.7);
            }
        }

        .MemeCard {
            @include card-height();
            @include card-width();

            background-color: white;
            background-size: auto 85%;
            background-repeat: no-repeat;
            background-position: center center;
            box-shadow: 0 12.5px 40px -10px rgba(50, 50, 73, 0.3),
                0 10px 10px -10px rgba(50, 50, 73, 0.2);
            border-radius: 10px;
            will-change: transform;
        }
    }
}

.CountdownOverlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .CountdownTimer {
        color: $color-white;
        font-size: 256px;
        z-index: 10;
    }
}
