@import "styles/_shared.scss";

$post-width: 500px;
$details-width: 400px;
$post-height: 150px;

.Browse {
    padding-top: $size-500;
    width: 100%;

    @include media-query-large {
        padding-top: $size-800;
    }

    .BrowseHeader {
        color: $color-white;
        font-size: $font-size-600;
        font-weight: $font-weight-bold;
        text-align: center;
        width: 100%;

        @include media-query-large {
            font-size: $font-size-700;
        }
    }

    .BrowseContent {
        display: grid;
        gap: $size-400;
        justify-content: center;
        margin-top: $size-500;
        padding: 0 $size-400;

        @include media-query-large {
            gap: $size-900;
            grid-template-columns: minmax(0, $post-width) minmax(0, $details-width);
            margin-top: $size-700;
            padding: 0;
        }

        .BrowsePosts {
            display: none;

            @include media-query-large {
                display: grid;
                gap: $size-500;
            }
        }
    }
}

.Post {
    @include card-shadow();

    background-color: $color-white;
    border-radius: $border-radius-large;
    display: grid;
    height: $post-height;
    grid-template-columns: $post-height 1fr;
    max-width: $post-width;
    transition: box-shadow 0.2s, transform 0.2s;
    width: 100%;

    &.PostSelected {
        box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
    }

    .PostImage {
        background-color: $color-neutral-400;
        border-bottom-left-radius: $border-radius-large;
        border-top-left-radius: $border-radius-large;
        height: 100%;
        max-height: $post-height;
        max-width: $post-height;
        width: 100%;
    }

    .PostContent {
        gap: $size-200;
        padding: $size-400;

        .PostTitle {
            font-size: $font-size-500;
            font-weight: $font-weight-bold;
        }

        .PostAuthor {
            color: $color-text-secondary;
            margin: $size-200 0;
        }

        .PostTimestamp {
            color: $color-text-secondary;
            font-style: italic;
        }
    }
}

.MobilePosts {
    display: grid;
    gap: $size-300;
    grid-auto-columns: $post-height;
    grid-auto-flow: column;
    margin: 0 (-($size-400));
    padding: $size-400;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    @include media-query-large {
        display: none;
    }

    .MobilePost {
        background-color: $color-neutral-400;
        border-radius: $border-radius-normal;
        height: $post-height;
        transition: box-shadow 0.2s, transform 0.2s;
        width: $post-height;

        &.MobilePostSelected {
            box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.4);
            transform: scale(1.05);
        }
    }
}

.PostDetails {
    justify-self: center;
    max-width: $details-width;
    width: 100%;

    .PostDetailsImage {
        @include card-shadow();

        background-color: $color-neutral-400;
        border-radius: $border-radius-large;
        height: 300px;
        width: 100%;
    }

    .PostDetailsContent {
        @include card-shadow();

        background-color: $color-white;
        border-radius: $border-radius-large;
        display: grid;
        height: 200px;
        grid-template-rows: auto auto 1fr;
        margin-top: $size-600;
        padding: $size-400;
        width: 100%;

        .PostDetailsTitle {
            color: $color-primary;
            font-size: $font-size-600;
            font-weight: $font-weight-bold;
            text-decoration: underline;
        }

        .PostDetailsMetadata {
            color: $color-text-secondary;
            display: flex;
            justify-content: space-between;
            margin-top: $size-300;

            .PostDetailsTimestamp {
                font-style: italic;
            }
        }

        .PostDetailsPredictionContainer {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .PostDetailsPredictionHeading {
                color: $color-neutral-800;
                font-size: $font-size-500;
            }

            .PostDetailsPrediction {
                color: $color-neutral-900;
                font-size: $font-size-800;
                font-weight: $font-weight-bold;
                margin-top: $size-400;
            }
        }
    }
}
